@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

#LandingPageContainer {
    
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-bottom: 0;
    margin: 0;
    

background: #154D8A;
}

#ellipse-container{
width: 1500px;
height: 100px;
left: -299px;
margin-bottom: 100px;


}

#ellipse {
width: 300px;
height: 100px;
position: absolute;
margin-bottom: -600px;

}

#ellipse-container img {
    width: 700px;
height: 500px;
position: absolute;

}

#join {position: absolute;
    left: 6.88%;
    right: 57.99%;
    top: 25.94%;
    bottom: 80%;
    font-family: 'IBM Plex Mono', monospace;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    
    
    color: #FFFFFF;
    
    }

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; 
background-color: #FFFFFF;}


a:active { text-decoration: none; }
#text-landing-container{
    position: absolute;
width: 638px;
height: 488px;
left: 1100px;
top: 194px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#text-landing {
    position: absolute;
left: 0%;
right: 0%;
top: 16.39%;
bottom: -16.39%;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;

color: #FFFFFF;

}

#hasoyi {
    position: absolute;
width: 584px;
height: 40px;
top: 548px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 42px;

color: #FFFFFF;
}